.envrc
__pycache__/
sito/site
.ipynb_checkpoints/
moduli/python/*.py
moduli/python/emails.txt
moduli/python/zingarelli.txt
moduli/python/chinook.db
moduli/webdev/*.py
moduli/webdev/tplapp/
moduli/webdev/flaskr/
moduli/webdev/wait-for
